<div class="main">
  <div *ngIf="!startLo">
    <div class="startButton" (click)="start()"></div>
  </div>

  <div class="digital-screen" *ngIf="startLo" (click)="setclick()">
    <div class="music" (click)="muteMusic()" [ngClass]="music ? 'play' : 'mute'">
    </div>
    <div class="penguin">
      <div class="border">
        <div class="button check  btn-check-active" (click)="checkanswer()">
          <div class="help help-check" *ngIf="this.checkHand && this.counter == 0"></div>
        </div>
        <div class="button answer btn-answer-active" (click)="answer()">
          <div class="help help-check" *ngIf="this.answerHand && this.counter == 0"></div>
        </div>
        <div class="button next btn-next" (click)="next()">
          <div class="help help-check" *ngIf="this.nextHand && this.counter == 0"></div>
        </div>
        <!-- <div class="try-active">
          X{{2- this.numOfAttempts}}
        </div> -->
        <div class="question center" *ngFor="let e of  this.itemJson[0].items , let index = index"
          [ngClass]="{'active': e.active}">
          <div class="type-question" >
            <p class="text" *ngFor="let parag of e.parag" innerHTML="{{parag}}"></p>
            <div class="break"></div>
            <div class="flex">
              <div class="center">
                <ng-container *ngIf="e.type==1">
                <input class="emptyInput number input" type="text" index="1" (keyup)="maxLength($event, e)" inputType="1"
                  (change)="checkvalue($event,e)" (focus)="focusin($event)" (click)="foucs($event) ;"
                  [attr.maxlength]="1" (focusout)="focusout($event)">
                <div class="help  help-input" *ngIf="this.helpHand && this.counter == 0"></div>
              </ng-container>
              <ng-container *ngIf="e.type == 2">
                <ng-container *ngFor="let item of e.content[0]?.input?.valid let idx = index">
                  <ng-container *ngIf="idx < e.content[0].input.nums">
                    <input class="emptyInput input" type="text" [attr.index]="idx+1" [attr.maxlength]="1" (keyup)="maxLength($event,e)"
                      inputType="2" (change)="checkvalue($event,e)" (focus)="focusin($event)" (click)="foucs($event);">
                    <!-- <div class="help  help-input" *ngIf="this.helpHand && this.counter == 0"></div> -->
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="e.type == 2">
                <ng-container *ngFor="let item of e.content[1]?.input?.valid let idx = index">
                  <ng-container *ngIf="idx < e.content[1].input.nums">
                    <input class="emptyInput input" type="text" [attr.index]="idx+1" [attr.maxlength]="1" (keyup)="maxLength($event,e)"
                      inputType="2" (change)="checkvalue($event,e)" (focus)="focusin($event)" (click)="foucs($event);">
                    <!-- <div class="help  help-input" *ngIf="this.helpHand && this.counter == 0"></div> -->
                  </ng-container>
                </ng-container>
              </ng-container>
              </div>
              <img class="image" src="{{e.image}}" alt="">
              <div class="flex-colum">
                <p class="text" innerHTML="{{e.parag2}}" style="font-size: 2.5vh;"></p>
                <p class="text" innerHTML="{{e.parag3}}" style="font-size: 2.5vh;"></p>
              </div>
            </div>
            <p class="text" innerHTML="{{e.parag4}}"></p>
            <ng-container *ngIf="e.type==1">
              <input class="emptyInput number input" type="text" index="2" (keyup)="maxLength($event, e)" inputType="1"
              (change)="checkvalue($event,e)" (focus)="focusin($event)" (click)="foucs($event);"
              [attr.maxlength]="1" (focusout)="focusout($event)">
            </ng-container>
          </div>

        </div>
      </div>
      <div class="penguinCharacter">
        <ng-lottie [options]="options" (animationCreated)="onAnimate($event)">
        </ng-lottie>
      </div>
    </div>
  </div>

  <div *ngIf="question">
    <div class="nextContent">
      <div class="character">
        <div class="penguin" *ngIf="counter < this.loQuestion-1"
          [ngClass]="character ? 'feedbacktrue' : 'feedbackfalse'"></div>
        <div class="progress" *ngIf="counter >= this.loQuestion-1">
          <ng-lottie [options]="progressbar" (animationCreated)="progressBar($event);calculate()">
          </ng-lottie>
        </div>
        <div class="type" *ngIf="counter >= this.loQuestion-1"> {{this.Estimation}} </div>
        <div class="buttons">
          <button class="home" (click)="home()"></button>

          <button class="next" (click)="nextQuestion();" *ngIf="counter < this.loQuestion-1"></button>
        </div>
      </div>
    </div>
  </div>
</div>
