
  .startButton {
    width: 56vh;
    height: 32vh;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 24%;
    margin: auto;
    background-image: url(../assets/penguin/start.png);
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
  }
